<h3>{{ 'Settings'|i18n('administration/settings') }}</h3>

<hr />

<ul>
    <li>
        <a href="">
            {{ 'Extensions'|i18n('administration/settings/extensions') }}
        </a>
    </li>
</ul>

<hr />

<ul>
    <li>
        <a href="">
            {{ 'Routes'|i18n('administration/settings/routes') }}
        </a>
    </li>
    <li>
        <a href="">
            {{ 'Caches'|i18n('administration/settings/caches') }}
        </a>
    </li>
</ul>

<hr />

<ul>
    <li>
        <a href="">
            {{ 'Translations'|i18n('administration/settings/translations') }}
        </a>
    </li>
</ul>
