<h3>{{ 'Users'|i18n('administration/users') }}</h3>

<hr />

<ul>
    <li>
        <a href="{{ 'administration/users'|url }}">
            {{ 'Users list'|i18n('administration/users') }}
        </a>
    </li>
    <li>
        <a href="{{ 'administration/users/usergroups'|url }}">
            {{ 'Usergroups list'|i18n('administration/users') }}
        </a>
    </li>
</ul>
