{% extends "layouts/administration/standard.twig" %}

{% block title%}{{ 'Users management'|i18n('administration/users') }}{% endblock %}

{% block left_menu %}{% include "parts/administration/users_menu.twig" %}{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>
            {{ 'Users'|i18n('administration/users') }}
            <small>{{ 'List of all the users'|i18n('administration/users') }}</small>
        </h1>
    </div>

    <div class="pull-right">
        <a href="" class="btn btn-info">
            <i class="icon-plus icon-white"></i>&nbsp;{{ 'Create a new user'|i18n('administration/users') }}
        </a>
    </div>

    <table class="table table-striped">

        <thead>
            <tr>
                <th>{{ 'User ID'|i18n('administration/users') }}</th>
                <th>{{ 'Username'|i18n('administration/users') }}</th>
                <th>{{ 'Type'|i18n('administration/users') }}</th>
                <th>{{ 'Active'|i18n('administration/users') }}</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>Administrator</td>
                <td>Administrator</td>
                <td>{{ 'yes'|i18n('administration/global') }}</td>
                <td>
                    <div class="pull-right">
                        <a class="btn btn-primary btn-mini">
                            <i class="icon-edit icon-white"></i>&nbsp;{{ 'Edit'|i18n('administration/global') }}
                        </a>
                        <a class="btn btn-danger btn-mini disabled">
                            <i class="icon-trash icon-white"></i>&nbsp;{{ 'Delete'|i18n('administration/global') }}
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Damien MARTIN</td>
                <td>administrator</td>
                <td>{{ 'yes'|i18n('administration/global') }}</td>
                <td>
                    <div class="pull-right">
                        <a class="btn btn-primary btn-mini">
                            <i class="icon-edit icon-white"></i>&nbsp;{{ 'Edit'|i18n('administration/global') }}
                        </a>
                        <a class="btn btn-danger btn-mini">
                            <i class="icon-trash icon-white"></i>&nbsp;{{ 'Delete'|i18n('administration/global') }}
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Christophe Nguyen</td>
                <td>redactor</td>
                <td>{{ 'yes'|i18n('administration/global') }}</td>
                <td>
                    <div class="pull-right">
                        <a class="btn btn-primary btn-mini">
                            <i class="icon-edit icon-white"></i>&nbsp;{{ 'Edit'|i18n('administration/global') }}
                        </a>
                        <a class="btn btn-danger btn-mini">
                            <i class="icon-trash icon-white"></i>&nbsp;{{ 'Delete'|i18n('administration/global')}}
                        </a>
                    </div>
                </td>
            </tr>


        </tbody>

    </table>

{% endblock %}
