{% design_needs
[
    'css/guggenheim.css',
    'js/jquery.min.js',
    'js/guggenheim.min.js'
]
%}

{% extends "layouts/standard.twig" %}

{% block title %}{{ 'Gallery'|i18n('fotografio/global') }}{% endblock %}

{% block body %}

    <h1>{{ 'Gallery'|i18n('fotografio/global') }}</h1>

    {#

        We use the Guggeinheim jquery plugin to create galleries.

        GitHub repo : https://github.com/OiNutter/guggenheim.js
        Demo : http://oinutter.co.uk/guggenheim.js/

    #}
    <div id="guggenheim-container">
        <div class="guggenheim-slider">
            {% for picture in Pictures %}
            <div class='guggenheim-item'>
                <img src="{{ picture|url }}" width="155" />
            </div>
            {% endfor %}
         </div>
        <div class="buttons">
            <a onclick="gallery.prev();">{{ 'Prev'|i18n('fotografio/global') }}</a>
            <a onclick="gallery.next();">{{ 'Next'|i18n('fotografio/global') }}</a>
        </div>
    </div>

    <h2>{{ 'Filters'|i18n('fotografio/global') }}</h2>

    <script type="text/javascript">

        window.onload = function(){

            gallery = guggenheim('#guggenheim-container', {
                'rows': 'auto',
                'cols' : 'auto'
            });

        };

    </script>

{% endblock %}
