<!DOCTYPE html>
<html>

    <head>

        <title>{% block title %}{% endblock %} - Cerbo</title>

        <link rel="stylesheet" href="{{ 'css/standard.css'|design|url }}" />
        <link rel="stylesheet" href="{{ 'css/admin.css'|design|url }}" />

        <link type="text/css" rel="stylesheet" href="{{ 'css/bootstrap.min.css'|design|url }}" />
        <link type="text/css" rel="stylesheet" href="{{ 'css/bootstrap-responsive.min.css'|design|url }}" />

        <script type="text/javascript" src="{{ 'js/jquery.min.js'|design|url }}"></script>
        <script type="text/javascript" src="{{ 'js/bootstrap.min.js'|design|url }}"></script>

    </head>

    <body>

        <div class="container">

            <div class="row">

                <div id="content" class="span12">
                    {% block content %}{% endblock %}
                </div>

            </div>

            <div class="row">

                {{ debug_output() }}

            </div>

        </div>

    </body>

</html>
