<!DOCTYPE html>
<html>

    <head>

        <title>{% block title %}{% endblock %} - Cerbo</title>

        <link rel="stylesheet" href="{{ 'css/standard.css'|design|url }}" />
        <link rel="stylesheet" href="{{ 'css/admin.css'|design|url }}" />

        <link type="text/css" rel="stylesheet" href="{{ 'css/bootstrap.min.css'|design|url }}" />
        <link type="text/css" rel="stylesheet" href="{{ 'css/bootstrap-responsive.min.css'|design|url }}" />

        <script type="text/javascript" src="{{ 'js/jquery.min.js'|design|url }}"></script>
        <script type="text/javascript" src="{{ 'js/bootstrap.min.js'|design|url }}"></script>

        <!-- Define the website root for ajax calls from javascript. -->
        <script type="text/javascript"> WEBSITE_ROOT = '{{ ''|url }}'; </script>

        {{ autoload_design_files() }}

    </head>

    <body>

        <div class="container">

            {% include "parts/administration/main_menu.twig" %}

            <div class="row">

                <div id="submenu" class="span3">
                    {% block left_menu %}{% endblock %}
                </div>

                <div id="content" class="span9">
                    {% block content %}{% endblock %}
                </div>

            </div>

            <div class="row">

                <div id="footer" class="span12">

                    {{ cerbo_informations() }} by <a href="http://www.martin-damien.fr">MARTIN Damien</a>. Visit the project's page at <a href="http://cerbo.martin-damien.fr">http://cerbo.martin-damien.fr</a> and on <a href="http://www.github.com">GitHub</a> at <a href="https://github.com/martin-damien/cerbo">https://github.com/martin-damien/cerbo</a>.<br/>
                    This software is under the free license : <a href="http://www.gnu.org/copyleft/gpl.html">GNU/GPL3</a>.
                </div>

            </div>

            <div class="row">

                {{ debug_output() }}

            </div>

        </div>

    </body>

</html>
