<div class="navbar">
    <div class="navbar-inner">
        <div class="container">

            <a class="brand" href="#">
                Cerbo
            </a>

            <ul class="nav">
                <li class="active">
                    <a href="#">
                        <i class="icon-file icon-white"></i>&nbsp;{{ 'Content'|i18n('administration/global') }}
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-picture icon-white"></i>&nbsp;{{ 'Medias'|i18n('administration/global') }}
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-user icon-white"></i>&nbsp;{{ 'Users'|i18n('administration/global') }}
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-cog icon-white"></i>&nbsp;{{ 'Settings'|i18n('administration/global') }}
                    </a>
                </li>
            </ul>

            <ul class="nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-off icon-white"></i>&nbsp;Administrator<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">{{ 'My account'|i18n('administration/global') }}</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="">{{ 'Logout'|i18n('administration/global') }}</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</div>

